<div class="container">
  <app-search
    [urlPath]="personApiUrl"
    (onSearch)="getByName($event)"
    (result)="getPersons($event)"
  />
  <br /><br />

  <div class="main-content">
    <div class="table">
      <app-table
        [header]="personTableHeader"
        [isLoading]="isLoading"
        [isControl]="true"
        [rowData]="personList"
        [subHeader]="subHeader"
        (onClickRow)="getPerson($event)"
        [subRow]="subRow"
        [subRowKey]="subRowKey"
      />
    </div>
  </div>
</div>
