.search-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.btn-link {
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 0.3rem 2rem;
  cursor: pointer;
}
.container {
  padding: 10px;
  min-height: 100%;
}
.main-content {
  display: flex;
  justify-content: center;
  height: 500px;
}
.table {
  width: 100%;
}
